
#login-buttons { margin-top: 18px; }/
.container{
	background-color: ;

	}/* CSS declarations go here */
h3{
	text-align: center;
}
.center-block img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container{
	display: block;
  margin-left: auto;
  margin-right: auto;
}
